## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [3]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [4]:
# Create y_df with the Attrition and Department columns

y_df = attrition_df[['Attrition', 'Department']]    

y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [6]:
# Create a list of at with all column names from attrition_df to use as X data

columns = list(attrition_df.columns)

# Create X_df using your selected columns

X_df = attrition_df[columns]    

# Show the data types for X_df
X_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [7]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=78)

In [9]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

X_train = X_train.apply(pd.to_numeric, errors='coerce')

X_train.head

<bound method NDFrame.head of       Age  Attrition  BusinessTravel  Department  DistanceFromHome  Education  \
591    33        NaN             NaN         NaN                16          3
267    25        NaN             NaN         NaN                 5          2
1236   36        NaN             NaN         NaN                13          5
788    28        NaN             NaN         NaN                10          3
1224   26        NaN             NaN         NaN                17          4
...   ...        ...             ...         ...               ...        ...
310    31        NaN             NaN         NaN                 2          3
105    59        NaN             NaN         NaN                 2          4
40     35        NaN             NaN         NaN                 4          2
470    24        NaN             NaN         NaN                24          3
709    31        NaN             NaN         NaN                 9          2

      EducationField  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
591              NaN                        1          69               3
267              NaN                        2          85               4
1236             NaN                        2          96               2
788              NaN                        3          59               3
1224             NaN                        4          62               1
...              ...                      ...         ...             ...
310              NaN                        1          62               2
105              NaN                        3          32               2
40               NaN                        3          75               3
470              NaN                        4          38               3
709              NaN                        3          46               2

      ...  PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
591   ...                  3                         3                 0
267   ...                  3                         4                 2
1236  ...                  3                         2                 3
788   ...                  3                         4                 0
1224  ...                  3                         3                 3
...   ...                ...                       ...               ...
310   ...                  3                         4                 0
105   ...                  4                         4                 1
40    ...                  3                         3                 1
470   ...                  3                         3                 2
709   ...                  4                         1                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
591                   6                      3                3
267                   6                      2                3
1236                 16                      3                3
788                  10                      4                4
1224                  3                      3                4
...                 ...                    ...              ...
310                   9                      1                3
105                  30                      3                3
40                    1                      3                3
470                   3                      3                3
709                   4                      0                3

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
591                3                   2                        0
267                6                   3                        1
1236               2                   2                        2
788                8                   7                        1
1224               3                   2                        0
...              ...                 ...                      ...
310                2                   2                        1
105                3                   2                        2
40                 1                   0                        0
470                2                   2                        2
709                3                   2                        1

      YearsWithCurrManager
591                      2
267                      5
1236                     2
788                      7
1224                     2
...                    ...
310                      0
105                      2
40                       0
470                      1
709                      2

[1102 rows x 27 columns]>

In [11]:
# Create a StandardScaler

scaler = StandardScaler()   


# Fit the StandardScaler to the training data

X_scaler = scaler.fit(X_train)


# Scale the training and testing data

X_train_scaled = X_scaler.transform(X_train)    

print(X_train_scaled)

[[-0.40942386         nan         nan ... -0.590081   -0.67430453
  -0.58065358]
 [-1.29889668         nan         nan ... -0.31430947 -0.34506944
   0.26463076]
 [-0.07587155         nan         nan ... -0.590081   -0.01583436
  -0.58065358]
 ...
 [-0.18705565         nan         nan ... -1.14162405 -0.67430453
  -1.14417648]
 [-1.41008078         nan         nan ... -0.590081   -0.01583436
  -0.86241503]
 [-0.63179206         nan         nan ... -0.590081   -0.34506944
  -0.58065358]]

c:\Users\KURTD\anaconda3\envs\dev\lib\site-packages\sklearn\utils\extmath.py:1051: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\Users\KURTD\anaconda3\envs\dev\lib\site-packages\sklearn\utils\extmath.py:1056: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\Users\KURTD\anaconda3\envs\dev\lib\site-packages\sklearn\utils\extmath.py:1076: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [13]:
# Create a OneHotEncoder for the Department column

from sklearn.preprocessing import OneHotEncoder

# Fit the encoder to the training data

enc = OneHotEncoder(sparse=False)   

enc.fit(y_train)    



# Create two new variables by applying the encoder
# to the training and testing data

y_train_encoded = enc.transform(y_train)

y_test_encoded = enc.transform(y_test)

c:\Users\KURTD\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [14]:
# Create a OneHotEncoder for the Attrition column

from sklearn.preprocessing import OneHotEncoder

# Fit the encoder to the training data
enc = OneHotEncoder(sparse=False)
enc.fit(y_train)

# Create two new variables by applying the encoder to the training and testing data
y_train_encoded = enc.transform(y_train)
y_test_encoded = enc.transform(y_test)
# to the training and testing data

c:\Users\KURTD\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

## Create, Compile, and Train the Model

In [15]:
# Find the number of columns in the X training data

X_train.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(X_train.shape[1],))


# Create at least two shared layers
shared_layer1 = layers.Dense(units=8, activation='relu')
shared_layer2 = layers.Dense(units=8, activation='relu')

In [16]:
# Create a branch for Department
# with a hidden layer and an output layer

department_branch = shared_layer1(input_layer)

# Create the hidden layer
department_branch = shared_layer2(department_branch)

# Create the output layer
department_output = layers.Dense(units=3, activation='softmax')(department_branch)

In [17]:
# Create a branch for Attrition
# with a hidden layer and an output layer

attrition_branch = shared_layer1(input_layer)


# Create the hidden layer

attrition_branch = shared_layer2(attrition_branch)

# Create the output layer

attrition_output = layers.Dense(units=2, activation='softmax')(attrition_branch)

In [18]:
# Create the model

model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy']) 


# Summarize the model

model.summary()

Model: "functional"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer         │ (None, 27)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense (Dense)       │ (None, 8)         │        224 │ input_layer[0][0… │
│                     │                   │            │ input_layer[0][0] │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_1 (Dense)     │ (None, 8)         │         72 │ dense[0][0],      │
│                     │                   │            │ dense[1][0]       │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_2 (Dense)     │ (None, 3)         │         27 │ dense_1[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_3 (Dense)     │ (None, 2)         │         18 │ dense_1[1][0]     │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 341 (1.33 KB)

 Trainable params: 341 (1.33 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
# Update the number of units in the output layer for the attrition branch
attrition_output = layers.Dense(units=5, activation='softmax')(attrition_branch)

# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

# Train the model
model.fit(X_train_scaled, [y_train_encoded, y_train_encoded], epochs=100, shuffle=True, verbose=2)

Epoch 1/100

ValueError: Arguments `target` and `output` must have the same shape. Received: target.shape=(None, 5), output.shape=(None, 3)

In [21]:
# Evaluate the model with the testing data

model_loss, model_accuracy = model.evaluate(X_test_scaled, [y_test_encoded, y_test_encoded], verbose=2) 

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

NameError: name 'X_test_scaled' is not defined

In [22]:
# Print the accuracy for both department and attrition

print(f"Department Accuracy: {model_accuracy[0]}, Attrition Accuracy: {model_accuracy[1]}")

NameError: name 'model_accuracy' is not defined

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.